header{
    text-align: center;
}
main{
    margin: auto 15%;
}
#hamburgerBlock,#hotdogBlock,#friesBlock,#drinkBlock,#icecreamBlock{
    display: block;
    float: left;
    width: 50%;
    border-style: ridge;
}
#specialBlock, #orderAndTotals{
    display: block;
    float: left;
    width: 100%;
}
footer{
    position: fixed;
    bottom: 0;    
}